<?xml version="1.0" encoding="utf-8"?>
<!--
	App.config is an XML file with many predefined configuration sections available and support for custom configuration sections.
-->
<configuration>
  <configSections>
  </configSections>
  
  <userSettings>
  </userSettings>
  
  <applicationSettings>
  </applicationSettings>
</configuration>
